<!DOCTYPE html>
<html lang="en">

<head th:replace="~{header :: headFragment}"> 
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .dashImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>

<body>

    <!-- sidebar start -->
    <section th:replace="~{navbar :: sidebarFragment}"></section>
    <!-- sidebar end -->

    <!-- content start -->
    <section id="content">

        <nav th:replace="~{navbar :: topnavbarFragment}"></nav>

    </section>
    <!-- content start -->

    <!-- user edit modal start -->
    <div th:replace="~{navbar :: userEditModal}"></div>
    <!-- user edit modal end -->


    <!-- img area start -->
    <img class="dashImg" src="../resources/images/dash2.jpg" alt="Dashboard" style="margin-left: 275px;">
    <!-- img area end -->


    <!-- link functioncalling js file -->
    <script src="/controllers/controllerFunction/functioncalling.js"></script>

    <!-- link validation js file -->
    <script src="/controllers/controllerFunction/validationfunction.js"></script>

    <!-- link commonFunction file  -->
    <script src="/controllers/controllerFunction/commonFunction.js"></script>

    <!-- link js file -->
    <script src="/controllers/navbar.js"></script>
</body>

</html>