<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error : Samanmali Catering </title>

      <!-- link bootstrap css -->
      <link rel="stylesheet" href="/resources/bootstrap-5.3.1-dist/bootstrap-5.3.1-dist/css/bootstrap.min.css">

      <!-- link bootstap js file -->
      <script src="/resources/bootstrap-5.3.1-dist/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
  
      <!-- link fontawsome css -->
      <link rel="stylesheet" href="/resources/fontawesome-free-6.4.2-web/fontawesome-free-6.4.2-web/css/all.css">
  
      <!-- link jQuery -->
      <script src="/resources/js/jquery.js"></script>
  
      <!-- link datatable css file -->
      <link rel="stylesheet" href="/resources/datatables-1.13.6/css/jquery.dataTables.css">
  
      <!-- link datatable js file -->
      <script src="/resources/datatables-1.13.6/js/jquery.dataTables.js"></script>
  
      <!-- button css -->
      <link rel="stylesheet" href="/resources/css/button.css">
  
  <!-- style="display: flex; justify-content: center; align-items: center; height: 100vh;" -->
</head>
<body>

    <div class="row mt-2 d-flex center">
        <div class="info-wrap w-100 img formImg" style="display: flex; justify-content: center; align-items: center; margin-top: 30px;">
            <img src="../resources/images/403Error.gif" >
        </div>
    </div>
    <div class="row mt-2">
        <div  style="text-align: center; margin-top: 5px;">
            <button type="button" class="btn btn-gradient" onclick="window.location.replace('/dashboard')">Go Back Home</button>
        </div>
    </div>

</body>
</html>