<head th:fragment="headFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"> : Samanmali Catering </title>
    <link rel="icon" href="resources/icon_catering.png">

    <!-- link bootstrap css -->
    <link rel="stylesheet" href="/resources/bootstrap-5.3.1-dist/bootstrap-5.3.1-dist/css/bootstrap.min.css">

    <!-- link bootstap js file -->
    <script src="/resources/bootstrap-5.3.1-dist/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>

    <!-- link fontawsome css -->
    <link rel="stylesheet" href="/resources/fontawesome-free-6.4.2-web/fontawesome-free-6.4.2-web/css/all.css">

    <!-- link jQuery -->
    <script src="/resources/js/jquery.js"></script>

    <!-- link datatable css file -->
    <link rel="stylesheet" href="/resources/datatables-1.13.6/css/jquery.dataTables.css">

    <!-- link datatable js file -->
    <script src="/resources/datatables-1.13.6/js/jquery.dataTables.js"></script>

    <!-- link sweetalert js file -->
    <script src="/resources/sweetalert2/sweetalert2.all.js"></script>

    <!-- link sweetalert js file -->
    <script src="/resources/sweetalert2/sweetalert2.all.min.js"></script>

    <!-- link chart js file -->
    <script src="/resources/chartjs/chart.umd.js"></script>

    <!-- sweetalert2 css -->
    <link rel="stylesheet" href="/resources/sweetalert2/sweetalert2.css">

    <!-- common css -->
    <link rel="stylesheet" href="/resources/css/common.css">

    <!-- button css -->
    <link rel="stylesheet" href="/resources/css/button.css">

    <!-- employee_status css -->
    <link rel="stylesheet" href="/resources/css/employee_status.css">

    <!-- link css file -->
    <link rel="stylesheet" href="/resources/css/navbar.css">

</head>