<!DOCTYPE html>
<html lang="en">

<head th:replace="~{header :: headFragment}"> </head>

<body>

    <!-- sidebar start -->
    <section th:replace="~{navbar :: sidebarFragment}"></section>
    <!-- sidebar end -->

    <!-- content start -->
    <section id="content">

        <nav th:replace="~{navbar :: topnavbarFragment}"></nav>

    </section>
    <!-- content start -->

    <!-- user edit modal start -->
    <div th:replace="~{navbar :: userEditModal}"></div>
    <!-- user edit modal end -->

    <div class="container-fluid">
        <!-- title start -->
        <div class="row p-2">
            <div class="col-12 text-center gradient-text">
                <h1 class="h1"><b>PAYMENT MANAGEMENT</b></h1>
            </div>
        </div>
        <!-- title end -->

        <!-- offcanves button start -->
        <div class="row mt-2">
            <div class="col-1"></div>
            <div class="col-10 text-end">
                <button class="btn btn-gradient" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasPaymentAdd" aria-controls="staticBackdrop">
                    <i class="fa-solid fa-plus"> </i> Add New Payment
                </button>
            </div>
            <div class="col-1"></div>
        </div>
        <!-- offcanves button end -->

        <!-- table area start -->
        <div class="row mt-2">
            <div class="col-1"></div>
            <div class="col-10">

                <!-- table start -->
                <table class="table table-bordered table-striped border-danger" id="tablePayment">
                    <thead class="table-dark">
                        <!-- # no index -->
                        <th> # </th>
                        <th>Reservation Code</th>
                        <th>Bill Number</th>
                        <th>Total Amount</th>
                        <th>Paid Amount</th>
                        <th>Balance Amount</th>
                        <th>Payment Method</th>
                        <th>Modify</th>
                    </thead>
                    <tbody class="table-warning">
                        <!-- table body data -->
                    </tbody>
                </table>
                <!-- table end -->
            </div>
            <div class="col-1"></div>
            <!-- table area end -->

            <!-- pyament add offcanves start -->

            <div class="offcanvas offcanvas-top" data-bs-backdrop="static" tabindex="-1" id="offcanvasPaymentAdd"
                aria-labelledby="staticBackdropLabel">
                <div class="offcanvas-header">
                    <h2 class="gradient-text">Manage Payment</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">

                    <div class="col-md-12">
                        <div class="row no-gutters">
                            <!-- img area start -->
                            <div class="col-md-5 d-flex align-items-stretch">
                                <div class="info-wrap w-100 p-5 img formImg"
                                    style="background-image: url(../resources/images/payment.png);">
                                </div>
                            </div>
                            <!-- img area end -->

                            <div class="col-md-7">
                                <!-- form -->
                                <form onsubmit="return false" id="formPayment">

                                    <div class="row">
                                        <div class="col-12 text-end">
                                            <span class="fw-bold"> <span class="text-danger">*</span>Required</span>
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <label for="slctReservationCode"
                                            class="col-4 col-form-label fw-bold">Reservation
                                            Code :
                                            <span class="text-danger">*</span> </label>
                                        <div class="col-8">
                                            <select name="reservationCodeSlct" id="slctReservationCode"
                                                class="form-select" required
                                                onchange="selectDVali(this,'','payment','reservation_id', 'oldPayment'); generateTotalAmount();">
                                                <option value="" selected disabled> </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mt-2">

                                        <div class="col-6">
                                            <label for="slctPaymentMethod" class="form label fw-bold mb-2">Payment
                                                Mehtod :
                                                <span class="text-danger">*</span></label>
                                            <select name="paymentMethodSlct" id="slctPaymentMethod" class="form-select"
                                                required
                                                onchange="selectDVali(this, '','payment','paymentmethod_id', 'oldPayment')">
                                                <option value="" selected disabled>Select Method</option>
                                            </select>
                                        </div>

                                        <div class="col-6">
                                            <label for="slctPaymentType" class="form label fw-bold mb-2">Payment Type :
                                                <span class="text-danger">*</span></label>
                                            <select name="paymentTypeSlct" id="slctPaymentType" class="form-select"
                                                required
                                                onchange="selectSVali(this, '','payment','payment_type', 'oldPayment'); generateAmount(); generateBalanceAmount()">
                                                <option value="" selected disabled>Select Payment Type</option>
                                                <option value="Advance">Advance</option>
                                                <option value="Full_Payment">Full Payment</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mt-2">

                                        <!-- total amount start -->
                                        <div class="col-4">
                                            <label for="textTotalAmount" class="form-label fw-bold">Total Amount:
                                                <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <span class="input-group-text">Rs.</span>
                                                <input class="form-control" type="text" id="textTotalAmount"
                                                    aria-label="Amount" required placeholder="Amount..."
                                                    onkeyup="textFeildVali(this, '^[0-9]+(\.[0-9]+)?$' , 'payment','totalamount', 'oldPayment')">
                                            </div>
                                        </div>
                                        <!-- total amount end -->

                                        <!-- total paid amount start -->
                                        <div class="col-4">
                                            <label for="textPaidAmount" class="form-label fw-bold">Paid Amount:
                                                <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <span class="input-group-text">Rs.</span>
                                                <input class="form-control" type="text" id="textPaidAmount"
                                                    aria-label="Amount" required placeholder="Amount..."
                                                    onkeyup="textFeildVali(this, '^[0-9]+(\.[0-9]+)?$' , 'payment','paidamount', 'oldPayment'); generateBalanceAmount(); getValidAmount(); setFullPayment()">
                                            </div>
                                        </div>
                                        <!-- total paid amount end -->

                                        <!-- total balance amount start -->
                                        <div class="col-4">
                                            <label for="textBalanceAmount" class="form-label fw-bold">Total Balance
                                                Amount:
                                                <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <span class="input-group-text">Rs.</span>
                                                <input class="form-control" type="text" id="textBalanceAmount"
                                                    aria-label="Amount" required placeholder="Amount..."
                                                    onkeyup="textFeildVali(this, '^[0-9]+(\.[0-9]+)?$' , 'payment','balanceamount', 'oldPayment')">
                                            </div>
                                        </div>
                                        <!-- total balance amount end -->
                                    </div>

                                    <!-- check or online transfer details start -->
                                    <div class="row mt-2">
                                        <p class="d-inline-flex gap-1">
                                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#onlineTransferDetails" aria-expanded="true"
                                                aria-controls="onlineTransferDetails">Fill Online Transfer
                                                Details</button>
                                        </p>

                                        <div class="row">

                                            <div class="col">
                                                <div class="collapse" id="onlineTransferDetails">
                                                    <div class="card card-body">
                                                        <div class="col-12">
                                                            <label for="transferIdTxt"
                                                                class="form-label fw-bold">Transfer
                                                                Id :
                                                                <span class="text-danger">*</span></label>
                                                            <input type="text" id="transferIdTxt" class="form-control"
                                                                required placeholder="Enter Transfer Id"
                                                                onkeyup="textFeildVali(this, '' , 'payment','transfer_id', 'oldPayment')">
                                                        </div>

                                                        <div class="col-12">
                                                            <label for="TransferDateTime" class="form-label fw-bold">
                                                                Transfer Date Time: <span
                                                                    class="text-danger">*</span></label>
                                                            <input type="datetime-local" class="form-control"
                                                                id="TransferDateTime" required
                                                                onchange="textFeildVali(this, '' ,'payment' , 'transferdatetime', 'oldPayment')">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- check or online transfer details end -->

                                    <div class="row mt-2">
                                        <!-- note start -->
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <textarea class="form-control" id="textNote"
                                                    onkeyup="textFeildVali(this, '' ,'payment', 'payment_note', 'oldPayment')">
                                                </textarea>
                                                <label for="textNote" class="form-label fw-bold">
                                                    Note :
                                                </label>
                                            </div>
                                        </div>
                                        <!-- note end -->
                                    </div>

                                    <div class="row mt-2">

                                        <!-- button start -->

                                        <div class="col-6"></div>

                                        <div class="col-3">
                                            <button
                                            class="form label fw-bold form-control btn btn-outline-danger rounded-pill"
                                            type="reset">
                                            <i class="fa-solid fa-recycle"></i> Clear</button>
                                        </div>

                                        <div class="col-3">
                                            <button type="submit"
                                                class="form label fw-bold form-control btn btn-outline-success rounded-pill"
                                                id="btnPaymentSubmit" onclick="paymentSubmit()"><i
                                                    class="fa-solid fa-folder-plus"></i>
                                                Add</button>
                                        </div>

                                        <!-- button end -->

                                    </div>
                            </div>
                        </div>
                        </form>
                        <!-- form end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- payment add offcanves end -->

    <!-- view modal  -->

    <div class="modal" id="paymentViewModal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">View Payment Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body div-form">
                    <img class="ico" src="../resources/images/sm_logo.ico" alt="logo">
                    <span class="textlogo gradient-text">SAMANMALI</span>

                    <table id="printPaymentTable" class="table table-hover table-bordered table-striped">

                        <tr>
                            <td><b>Contact:</b> <br></td>
                            <td colspan="2"> 0372257260 <br> Samanmali@email.com</td>
                            <td><b>Address :</b></td>
                            <td colspan="2"> Bemmulegedara,<br> Narammala. </td>
                        </tr>

                        <tr>
                            <th>Reservation Code : </th>
                            <td id="viewReservationCode" colspan="2"></td>

                            <th>Bill Number : </th>
                            <td id="viewBillNumber" colspan="2"></td>
                        </tr>

                        <tr>
                            <th>Payment Type : </th>
                            <td id="viewPaymentType" colspan="2"></td>

                            <th>Total Amount : </th>
                            <td id="viewTotal" colspan="2"></td>
                        </tr>

                        <tr>
                            <th>Total Paid Amount : </th>
                            <td id="viewPaid" colspan="2"></td>

                            <th>Total Balance Amount : </th>
                            <td id="viewBalance" colspan="2"></td>
                        </tr>

                        <tr>
                            <th>Payment Method : </th>
                            <td id="viewPaymentMethod" colspan="2"></td>

                            <th>Transfer Id : </th>
                            <td id="viewTransferId" colspan="2"></td>
                        </tr>

                        <tr>
                            <th>Transfer Date Time : </th>
                            <td id="viewTransferDateTime" colspan="2"></td>

                            <th>Added date time : </th>
                            <td id="viewAddDateTime" colspan="2"></td>
                        </tr>

                        <tr>
                            <th>Note : </th>
                            <td id="viewNote" colspan="4"></td>
                        </tr>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="btnPrintRow();">print</button>
                </div>
            </div>
        </div>
    </div>

    <!-- view modal  -->

    <!-- link functioncalling js file -->
    <script src="controllers/controllerFunction/functioncalling.js"></script>

    <!-- link validation js file -->
    <script src="controllers/controllerFunction/validationfunction.js"></script>

    <!-- link commonFunction file  -->
    <script src="controllers/controllerFunction/commonFunction.js"></script>

    <!-- link js file -->
    <script src="controllers/payment.js"></script>

    <!-- link js file -->
    <script src="controllers/navbar.js"></script>
</body>

</html>