<!DOCTYPE html>
<html lang="en">

<head th:replace="~{header :: headFragment}"> </head>

<body>

    <!-- sidebar start -->
    <section th:replace="~{navbar :: sidebarFragment}"></section>
    <!-- sidebar end -->

    <!-- content start -->
    <section id="content">

        <nav th:replace="~{navbar :: topnavbarFragment}"></nav>

    </section>
    <!-- content start -->

    <!-- user edit modal start -->
    <div th:replace="~{navbar :: userEditModal}"></div>
    <!-- user edit modal end -->

    <div class="container-fluid mt-2">
        <!-- title start -->
        <div class="row p-2">
            <div class="col-12 text-center gradient-text">
                <h1 class="h1"><b>SERVICES MANAGEMENT</b></h1>
            </div>
        </div>
        <!-- title end -->

        <!-- offcanves button start -->
        <div class="row mt-2">
            <div class="col-1"></div>
            <div class="col-10 text-end">
                <button class="btn btn-gradient" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasServiceAdd" aria-controls="staticBackdrop">
                    <i class="fa-solid fa-plus"> </i> Add New Service
                </button>
            </div>
            <div class="col-1"></div>
        </div>
        <!-- offcanves button end -->

        <!-- table area start -->
        <div class="row mt-2">
            <div class="col-1"></div>
            <div class="col-10">

                <!-- table start -->
                <table class="table table-bordered table-striped border-danger" id="tableService">
                    <thead class="table-dark">

                        <!-- # no index -->
                        <th> # </th>
                        <th>Name</th>
                        <th>Mobile Number</th>
                        <th>NIC</th>
                        <th>Service Category</th>
                        <th>Service Charge</th>
                        <th>Status</th>
                        <th>Modify</th>
                    </thead>
                    <tbody class="table-warning">

                    </tbody>
                </table>
                <!-- table end -->
            </div>
            <div class="col-1"></div>
            <!-- table area end -->

            <!-- hall add offcanves start -->

            <div class="offcanvas offcanvas-top" data-bs-backdrop="static" tabindex="-1" id="offcanvasServiceAdd"
                aria-labelledby="staticBackdropLabel">
                <div class="offcanvas-header">
                    <h2 class="gradient-text">Manage Service</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">

                    <div class="col-md-12">
                        <div class="row no-gutters">

                            <!-- img area start -->
                            <div class="col-md-5 d-flex align-items-stretch">
                                <div class="info-wrap w-100 p-5 img formImg"
                                    style="background-image: url(../resources/images/service.jpg);">
                                </div>
                            </div>
                            <!-- img area end -->

                            <div class="col-md-7">
                                <!-- form -->
                                <form onsubmit="return false" id="formService">
                                    <!-- Service name start  -->
                                    <div class="row mt-2">
                                        <label for="textName" class="col-4 col-form-label fw-bold">Service Name : <span
                                                class="text-danger">*</span> </label>
                                        <div class="col-12">
                                            <input type="text" id="textName" class="form-control" required
                                                placeholder="Enter Service Name"
                                                onkeyup="textFeildVali(this,'^([A-Z][a-z]{2,15}[\\s]){1,10}([A-Z][a-z]{2,15}){1}$', 'service' , 'name','oldService')">
                                        </div>
                                    </div>
                                    <!-- service name end -->

                                    <div class="row mt-2">

                                        <!-- nic start -->

                                        <div class="col-6">
                                            <label for="nicTxt" class="form-label fw-bold">NIC : <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" id="nicTxt" class="form-control" required
                                                placeholder="Enter NIC"
                                                onkeyup="textFeildVali(this,'^([6789][0-9]{8}[VX])|(([1][9])|([2][0]))([0-9]{10})$', 'service','nic','oldService')">

                                        </div>

                                        <!-- nic end -->

                                        <!-- mobile start -->

                                        <div class="col-6">
                                            <label for="mobileTxt" class="form-label fw-bold">Mobile No : <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" id="mobileTxt" class="form-control" required
                                                placeholder="Enter Mobile Number"
                                                onkeyup="textFeildVali(this,'^[0][7][01245678][0-9]{7}$', 'service','mobile','oldService')">

                                        </div>

                                        <!-- mobile end -->

                                    </div>

                                    <div class="row mt-2">

                                        <!-- category start -->

                                        <div class="col-6">
                                            <label for="slctServiceCategory" class="form label fw-bold">Service Category
                                                : <span class="text-danger">*</span></label>
                                            <select name="slctCategory" id="slctServiceCategory" class="form-select"
                                                required
                                                onchange="selectDVali(this, '','service','servicecategory_id','oldService')">
                                                <option value="" selected disabled>Select Category</option>
                                                <option value="available">Dancing team</option>
                                                <option value="unavailable">Dj band</option>
                                            </select>
                                        </div>

                                        <!-- category end -->

                                        <!-- service charge start -->

                                        <div class="col-6">
                                            <label for="serviceChargeTxt" class="form-label fw-bold">Service Charge:
                                                <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <span class="input-group-text">Rs.</span>
                                                <input class="form-control" type="text" id="serviceChargeTxt"
                                                    aria-label="Amount" required placeholder="Enter Charge"
                                                    onkeyup="textFeildVali(this, '^[0-9]+(\.[0-9]+)?$' , 'service','servicecharge','oldService')">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                        <!-- service charge end -->

                                    </div>

                                    <div class="row mt-2">

                                        <!-- Status start -->

                                        <div class="col-6">
                                            <label for="slctServiceStatus" class="form label fw-bold">Status : <span
                                                    class="text-danger">*</span></label>
                                            <select name="slctStatus" id="slctServiceStatus" class="form-select"
                                                required
                                                onchange="selectDVali(this, '','service','servicestatus_id','oldService')">
                                                <option value="" selected disabled>Select Status</option>
                                                <option value="available">available </option>
                                                <option value="unavailable">unavailable </option>
                                            </select>
                                        </div>

                                        <!-- Status end -->

                                        <!-- note start -->
                                        <div class="col-6">
                                            <div class="form-floating">
                                                <textarea class="form-control" id="textNote"
                                                    onkeyup="textFeildVali(this, '' ,'hall' , 'note','oldService')">
                                            </textarea>
                                                <label for="textNote" class="form-label fw-bold">
                                                    Note :
                                                </label>
                                            </div>
                                        </div>
                                        <!-- note end -->

                                    </div>

                                    <div class="row mt-2">

                                        <!-- button start -->

                                        <div class="col-3">
                                            <button
                                                class="form label fw-bold form-control btn btn-outline-danger rounded-pill"
                                                type="reset">
                                                <i class="fa-solid fa-recycle"></i> Clear</button>
                                        </div>

                                        <div class="col-3"></div>

                                        <div class="col-3">
                                            <button
                                                class="form label fw-bold form-control btn btn-outline-primary rounded-pill"
                                                disabled id="btnServiceUpdate" onclick="serviceUpdate()"><i
                                                    class="fa-solid fa-wrench"></i> Update</button>
                                        </div>

                                        <div class="col-3">
                                            <button type="submit"
                                                class="form label fw-bold form-control btn btn-outline-success rounded-pill"
                                                id="btnServiceSubmit" onclick="serviceSubmit()"><i
                                                    class="fa-solid fa-folder-plus"></i> Add</button>
                                        </div>

                                        <!-- button end -->

                                    </div>

                            </div>
                            </form>
                            <!-- form end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- hall add offcanves end -->

    </div>

    <!-- link functioncalling js file -->
    <script src="controllers/controllerFunction/functioncalling.js"></script>

    <!-- link validation js file -->
    <script src="controllers/controllerFunction/validationfunction.js"></script>

    <!-- link commonFunction file  -->
    <script src="controllers/controllerFunction/commonFunction.js"></script>

    <!-- link employee js file -->
    <script src="controllers/service.js"></script>

    <!-- link js file -->
    <script src="controllers/navbar.js"></script>

</body>

</html>