<!DOCTYPE html>
<html lang="en">

<head th:replace="~{header :: headFragment}"> </head>

<body>

    <!-- sidebar start -->
    <section th:replace="~{navbar :: sidebarFragment}"></section>
    <!-- sidebar end -->

    <!-- content start -->
    <section id="content">

        <nav th:replace="~{navbar :: topnavbarFragment}"></nav>

    </section>
    <!-- content start -->

    <!-- user edit modal start -->
    <div th:replace="~{navbar :: userEditModal}"></div>
    <!-- user edit modal end -->

    <div class="container-fluid mt-2">
        <!-- title start -->
        <div class="row p-2">
            <div class="col-12 text-center gradient-text">
                <h1 class="h1"><b>SYSTEM USER REPORTS</b></h1>
            </div>
        </div>
        <!-- title end -->

        <!-- report element -->
        <div class="row mt-2">
            <div class="col-1"></div>

            <div class="col-3">
                <select name="slctDesi" id="desiTxt" class="form-select" required></select>
            </div>

            <div class="col-3">
                <select name="slctEmployee" id="slctEmployeeStatus" class="form-select" required> </select>
            </div>

            <div class="col-2">
                <button class="btn btn-warning" type="button" onclick="generateReport()" style="margin-left: 110px;">
                    <i class="fa-solid fa-rotate fa-spin"></i> Generate
                </button>
            </div>

            <div class="col-2">
                <button class="btn btn-warning" type="button" onclick="empRepoTablePrint();"
                    style="margin-left: 100px;">
                    <i class="fa-solid fa-print fa-beat"> </i> Print Table
                </button>
            </div>

            <div class="col-1"></div>
        </div>
        <!-- report element -->

        <!-- table area start -->
        <div class="row mt-2">
            <div class="col-1"></div>
            <div class="col-10">

                <!-- table start -->
                <table class="table table-bordered table-striped border-danger" id="tableEmployeeReport">
                    <thead class="table-dark">

                        <!-- # no index -->
                        <th> # </th>
                        <th>Calling Name</th>
                        <th>Full Name</th>
                        <th>Nic</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Designation</th>
                        <th>Employee Photo</th>
                        <th>status</th>
                    </thead>
                    <tbody class="table-warning">

                    </tbody>
                </table>
                <!-- table end -->
            </div>
            <div class="col-1"></div>
            <!-- table area end -->



        </div>
    </div>



    <!-- link functioncalling js file -->
    <script src="/controllers/controllerFunction/functioncalling.js"></script>

    <!-- link validation js file -->
    <script src="/controllers/controllerFunction/validationfunction.js"></script>

    <!-- link commonFunction file  -->
    <script src="/controllers/controllerFunction/commonFunction.js"></script>

    <!-- link systemuserreport js file -->
    <script src="/controllers/systemuserreport.js"></script>

    <!-- link js file -->
    <script src="/controllers/navbar.js"></script>

</body>

</html>